[url "ssh://git@bitbucket.org:"]
	insteadOf = https://bitbucket.org
[url "ssh://git@github.com:"]
	pushInsteadOf = https://github.com
[gpg]
	format = ssh
[credential "https://github.com"]
	helper = !gh auth git-credential
